.displayVerticalCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.displayHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cardVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 0 10px 3px rgba(209, 213, 221, 0.5);
  margin-bottom: 40px;

}
.cardsColors {
  width: 40%;
  border-radius: 15px;
  box-shadow: 0 0 10px 3px rgba(209, 213, 221, 0.5);
  margin-bottom: 40px;
}
.cardTitleColor {
  color: white;
}
.cardIconContainer {
  width: 40px;
  height: 40px;
}
.cardIconContainer img {
  width: 100%;
  margin: auto;
}
.dotted{    
  height: 100%;
  width: 100%;
  background-image: -webkit-repeating-radial-gradient(center center, #5225bd, #5225bd 1.5px, transparent 1.5px, transparent 100%);
  background-image: repeating-radial-gradient(center center, #5225bd, #5225bd 1.5px, transparent 1.5px, transparent 100%);
  background-size: 15px 15px;
}